.list-group--group .list-group-item a,.list-group--task .list-group-item a{
    color: black;
    text-decoration: none;
}

.list-group--group .list-group-item:hover a, .list-group--task .list-group-item:hover a{
    color: white;
    background-color: #74e0f3;
}
.active-group {
    background-color: #74e0f3;
}
.btn-modal {
    line-height: 2;
    color: #000;
    background-color: #66a3e0;
    border-color: #657b92;
    &:hover {
        color: #fff;
        background-color: #1d78d4;
        border-color: #dae0e5; 
    }
}
.w-10 {
    width: 10%
}
main {
    min-height: 500px;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 40%;
}