.navbar > .nav-container {
    display: flex;
    align-items: stretch
}
.navbar-nav li > a {
    padding: 30px;
    &:hover {
        background-color: #fff;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    &:hover {
        color: #030303
    }
}
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff
}
.navbar-light .navbar-nav .show:hover > .nav-link {
    color: #030303
}
.navbar-light .dropdown-item:hover,.navbar-light .dropdown-item:focus {
    color: #030303;
    text-decoration: none;
    background-color: #fff;
}
.navbar-light .dropdown-menu {
    background-color: #242424;
    border-radius: 0;
    top: 98%;
}
.navbar-light .dropdown-item {
    color: #fff
}
.navbar-light .navbar-nav .nav-link.active {
    color: #030303;
    background-color: #fff;
}
.navbar {
    background-color: #242424
}
.navbar-brand {
    position: relative;
    padding: 10px
}
.navbar-brand img {
    width: 90px;
}
.logo-light {
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0s;
}
.navbar-brand:hover .logo-light {
    opacity: 1;
}
.navbar-brand:hover .logo-dark {
    opacity: 0;
}

.btn-success-my {
    background-color: #c3e6cb;
    color: black;
    padding: 12px;
    font-weight: bold;
    &:hover{
        background-color: #b1dfbb;
        color: black;
    }
}
.table1 { display:table; }
.table-row {
    display:table-row;
}
.table1 a  {
    text-decoration: none;
    color: black
}
.table-row-body:hover {
    display:table-row;
    background-color: #74e0f3;
    color: white;
}

.table-cell {
    display:table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    }
.table-row-headig {
    font-weight: bold;
}

.btn-square {
    border-radius: 0
}
.list-group-p {
    margin: 0
}
.search-input {
    padding-left: 1rem
}
.aa-input-a {
    display: block;
    width: 4rem;
}
.aa-input-icon {
    height: 16px;
    width: 26px;
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #030303;
 }

.site-footer .footer-layout {
    position: relative;
    z-index: 10;
}

.footer-layout-1 {
    padding-top: 150px;
    padding-bottom: 145px;
    background-color: #242424;
    color: #999;
    line-height: 2;
}
.naix-container {
    padding-left: 50px;
    padding-right: 50px;
}
.footer-layout-1 .footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-layout-1 .footer-content .footer-sidebar {
    max-width: 20%;
}
.footer-layout-1 .footer-content .footer-1 {
    min-width: 8%;
}
.footer-layout-1 .widget:last-child {
    margin-bottom: 0;
}
@media only screen and (max-width: 800px) {
    .naix-container {

        padding-left: 15px;
        padding-right: 15px;
    
    }
    .footer-layout-1 .footer-content .footer-sidebar {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .footer-layout-1 .footer-content {
        flex-wrap: wrap;
        text-align: center;
    }
}

footer-layout-1 .social-links-widget .social-links-list {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.share-social i{
    color: #666;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.share-social:hover i{
    color: #fff;
   
}
.textwidget a {
    color: inherit;
    text-decoration: none
}
